# Quick Start for Python Programming

## This is a Jupyter Notebook. 

To run a gray code cell, click in the cell and either click on the "play" arrow, or type shift+enter (or shift+return on a Mac).

In [3]:
print("Hello World!")

Hello World!

When you type in the gray code cell and hit shift+enter, you **run** the code.

If something gets printed out to the screen after you run the code, we say it is **returned**.

Cells containing texts like this one do not contain code. They are written in a language called Markdown. If you accidentally double click in a markdown cell, it won't cause any problems.

Please double click on this text. You can run the cell by hitting shift+enter. You will find it looks like nicely formatted text.

## Python is an interpreted language

In a *compiled* language, you generally need to write all your code before transforming it into an executable program using specific commands.Only after this compilation can you run your program.


In contrast, *Interpreted* languages compile code as you execute it. This allows for a more straightforward, line-by-line development process, making it easier to understand whatâ€™s happening in your code.

**Jupyter Notebook** is an **Interactive Programming Environment**: that allows you to execute code one line at a time through a **shell** (interpreter or console).

This notebook provides a quick overview on the basics of Python Programming.

## Operators

### Arithmetic Operators (Calculator)

In [15]:
# Addition
4 + 5

9

You might notice the spaces around the operators: 

`4 + 5`

instead of

`4+5`

It is more readable. The math would work without spaces, but it's a good idea to get into the habit of writing ["Pythonic"](https://builtin.com/data-science/pythonic) code.

In [18]:
# Subtraction
4 - 5

-1

In [20]:
# Multiplication
4 * 5

20

In [22]:
# Division
5 / 4

1.25

In [24]:
# Floor division (Only include the integer part)
5 // 4

1

In [26]:
# Remainder
5%4

1

In [28]:
# Power
5 ** 2

25

Python follows the [PEMDAS](https://thehelloworldprogram.com/python/python-operators-order-precedence/) order of operations:

### Comparison operators

Implementing these operators will return a [**boolean**](https://en.wikipedia.org/wiki/Boolean_algebra) object: True or False.

In [33]:
5 > 4

True

In [35]:
5 < 4

False

Note: `==` is used as comparison operator of equality rather than `=` !

In [38]:
5 == 4

False

In [40]:
4 == 4

True

To check if two things are **not equal**, Python uses `!=`

In [43]:
5 != 4

True

In [45]:
4 != 4

False

### Logical operators

Implementing these operators will return a [**boolean**](https://en.wikipedia.org/wiki/Boolean_algebra) object: True or False.

`and` means both sides must be True to return True

In [50]:
5 == 5 and 4 < 5

True

`or` means only one side must be True to return True

In [53]:
5 == 5 and 4 > 5

False

`not` is another logical operator. It reverses the boolean that follows it

In [56]:
not True

False

In [58]:
not False

True

In [60]:
not 5 == 5

False

In [62]:
not 4 > 5

True

## Basic Data Types in Python

### Integer and Float

The `type()` function is a widely used Python [built-in function](https://docs.python.org/3/library/stdtypes.html).

The `type()` function returns the data type of an object.

In [67]:
type(13)

int

In [69]:
type(13.5)

float

In [71]:
type(13.0)

float

Npte: 13.0 in **Python** is a float not an integer.

### String

A **string** is an object kind of like text. 

For common string operations, please refer to: https://docs.python.org/3/library/string.html

It contains either double `"` or single `'` quotes (you can choose which one you want to use).

In [76]:
type("Hello, World!")

str

In [78]:
type('Hello, World!')

str

The  `print()`function is another widely used Python [built-in function](https://docs.python.org/3/library/stdtypes.html).

This function can be used on almost all classes of objects.

In [81]:
print("Hello,World.")

Hello,World.

In [181]:
print(150)

150

In [183]:
print(18.5)

18.5

In [185]:
print(18 + 72.5)

90.5

What is the type of  `"12"`?

In [84]:
# Check the data type "12" using type()

#### Special Characters in String

Strings can contain **special characters**. These start with a backslash. The backslash can also be called the **escape character**. 

The most commonly used special characters are new lines `\n`:

In [88]:
print("Hello, World\nWhere am I?")

Hello, World
Where am I?

tab `\t` adds space between strings.

In [91]:
print("Hello World\tWhere am I?")

Hello World	Where am I?

Note: the special chartacters only apply by calling the `print()` function.

In [94]:
"Hello, World\nWhere am I?"

'Hello, World\nWhere am I?'

In [96]:
"Hello World\tWhere am I?"

'Hello World\tWhere am I?'

### List

- A list is a collection of objects kept in a strict order. 

- A list is surrounded by square brackets. 

- Items in the list (often called elements) are separated by commas.

- A list can contain any type of object

In [101]:
# A list of integers and floats
heights = [160, 161, 165.5, 167.8, 175, 170.4, 180, 177,7]

In [103]:
# A list of string
name = ['Adam', 'Ben', 'Charlie', 'David', 'Edward', 'Frank', 'Greg', 'Henry']

In [105]:
# A list of mixture of numbers and string
name_weight = ['Iris', 80, 'Lenny', 90, 'Michael', 95]

In [107]:
type(heights)

list

In [109]:
type(name)

list

In [111]:
type(name_weight)

list

For a list of lists, it is called a **nested list**

The list **name_weight*# is better to intepret into a  **nested list**

In [114]:
nested_name_weight = [['Iris','Lenny', 'Michael'], [80, 90, 95]]

In [116]:
type(nested_name_weight)

list

Create (initialize) a new empty list

In [119]:
alist = []

In [121]:
blist = list()

In [123]:
type(alist)

list

In [125]:
type(blist)

list

The Python built-in `len()` function can apply on strings and lists.

The function will return the length of a string or the number of elements of a list.

In [128]:
len("Hello")

5

In [130]:
len("Hello World!/")

13

Note: The space and the punctuation are also counted!

In [133]:
# empty list has no element
len(alist)

0

In [135]:
len(heights)

9

For more list operations, please refer to: https://docs.python.org/3/tutorial/datastructures.html

In [192]:
# Example: .append() method
# .append() is a method to add an element to the end of the list. 
heights.append(187.6)
print(heights)

[160, 161, 165.5, 167.8, 175, 170.4, 180, 177, 7, 187.6]

Note: List is  **mutable** object.

## Functions in Python

You can write your own custom functions in **Python**.

We've already learned about built-in functions, such as `print()` `type()`, and `len()`.

To write a function, we should start with a **def statement**.

It is highly recommended to include a [**docstring**](https://pandas.pydata.org/docs/development/contributing_docstring.html#) that says your function's inputs, outputs, and a short description (inside the indentation).

Next (still inside the def statement), you write the code for what the function does.

Finally, we need to include a **return statement** if we want our function to return the value of an object created inside the function.

In [140]:
def area(length, width):
    '''
    This function takes a length and width of a rectangle and returns the area.
    
    input: length (int or float), width (int or float)

    output: the product of length and width
    
    '''
    
    answer = length * width
    
    return answer

In [142]:
area(5, 4)

20

In [144]:
area(5)

TypeError: area() missing 1 required positional argument: 'width'

In [146]:
area('5')

TypeError: area() missing 1 required positional argument: 'width'

In [148]:
area('5','6')

TypeError: can't multiply sequence by non-int of type 'str'

Since the user can input all types of data into the function, the function can be revised to better accommodate such cases.

## Reference:

[**NICO 101: Introduction to Programming for Big Data**](https://www.nico.northwestern.edu/education/nico-101-0-introduction-to-programming-for-big-data.html)

[**Northwesten Research Computing and Data Services**](https://www.it.northwestern.edu/departments/it-services-support/research/training-and-consultation/)

If you need a comprehensive overview of Python Programming, check the above references and find the resources best fit for your schedule (available if you are enrolled student or staff at Northwestern University).